@mixin aspect-ratio($width, $height) {
	position: relative;

	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}

	> .content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

body {
	width: 100vw;
	height: 100vh;
}

.bg0 {
	background: #fff;
}

.bg1 {
	background: #f0f0f0;
}

.bg2 {
	background: #e0e0e0;
}

.viewport-wrp {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

canvas.viewport {
	width: 95vw;
	@include aspect-ratio(4, 3);
	border: 3px solid black;
	cursor: crosshair;
}

.overlay-wrp {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
}

.overlay-wrp-inn {
	border: 1px black;
	display: flex;
	flex-direction: column;
}
